<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello
<div sec:authorize="isAuthenticated()">
    <p th:text="${#authentication.name}"></p>
</div>
<div sec:authorize="!isAuthenticated()">
    <a href="#" th:href="@{/login}" >Login</a>
</div>
<div sec:authorize="isAuthenticated()">
    <!-- per default will send a confirmation logout
         because per default the type of request is get
    -->
    <a href="#" th:href="@{/logout}" >Logout1</a>
    <!-- post -->
    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout2</button>

    </form>
</div>

</body>
</html>